h1 {
  text-align: center;
}
img {
  display: block;
  margin: auto;
  width: 800px;
}

figcaption {
  font-size: 14px ;
  text-align: center;
}

nav {
  text-align: center;
}

nav a {
  display: inline;
  padding: 10px;
  background-color: gray;
}

#feature-property p {
text-align: center;
width: 800px;
margin: 20px auto;
}

#details{
  display: flex;
  justify-content: space-between;
  background-color: red;
}